# Supabase Configuration
REACT_APP_SUPABASE_URL=https://xjuixlwnzkclmfwxpugb.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqdWl4bHduemtjbG1md3hwdWdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg3MzIwMjEsImV4cCI6MjA3NDMwODAyMX0.ZpdytJ06VoBe-Hwsscdl1ZCm3gupPw6ByY5FhXq2d0E
